
/*====================================================================*/

html, body {
    height: 100%;
    overflow: hidden;
}

#content {
   height: calc(100% - 156px);
   width: 98%;
   border: 1px solid #AAA;
   margin: 30px auto;
   background-color:#EEE;
   position: relative;
   box-shadow: 0px 10px 11px #888;
}

a {
    text-decoration: none;
    color: #1198D6;
    outline: 0px none;
}


.help {
   font-size: 12px;
   color: rgb(17, 152, 214);
   margin-left: 4px;
   cursor: help;
}

.ui-tooltip {
    white-space: pre-line;
}

.ui-tooltip .help-title{
   display:block;
    margin-bottom:-10px;
}

#console-help {
   float:left;
   position:absolute;
   top: 0;
   left: 0;
   z-index:9999;
}

/*====================================================================*/

#tree-container {
   display: block;
   float: left;
   width: calc(60% - 22px);
   height: calc(64% - 20px);
   height: -moz-calc(64% - 20px);
   overflow: auto;
   position: absolute;
   background: #FFF;
   margin: 10px;
   height: calc(64% - 20px);
   position: absolute;
}

#tree-tabs {
 
}

.linemark{
 color:#E40546;
 font-size:16px;
}

#tree {
   display: block;   
   overflow: auto;
   padding: 20px;
   position: relative;
   background: #FFF;
   border-left: 1px solid #AAA;
   border-right: 1px solid #AAA;
   border-bottom: 1px solid #AAA;
   width: 100%;
   height: calc(100% - 20px);
}

#tree,
#tree canvas {
}
#tree-title{
   width:100%;
}

/*====================================================================*/

#symbols {
   margin: 10px;
   display: block;
   float: left;
   width: calc(40% - 22px);
   height: calc(64% - 20px) ;
   position: absolute;
   background-color:#FFF;
   left: 60%;
}

#symbols-container {
   display: block;
   float: left;
   height: calc(100% - 20px);
   width: 100%;
   overflow: auto;
   position: relative;
   padding: 20px;
   border-left: 1px solid #AAA;
   border-bottom: 1px solid #AAA;
   border-right: 1px solid #AAA;
}

#symbols-container canvas {
}

#symbols-title {
   width: 55%;
}

#symbols-controls {
  position: absolute;
  display: inline-block;
  bottom: 17px;
  right: 15px;
  z-index: 9999; 
}

#symbols-navegate {
  float:left;
  padding: 5px 8px;
  background-color: #1198D6   ;
  color: #FFF;
  border: 0;
}

#symbols-parent {
  float:left;
  padding: 5px 8px;
  background-color: #1198D6   ;
  color: #FFF;
  border: 0;
  margin-right: 12px;
}

.symbols-lock {
    position: absolute;
    display: inline-block;
    bottom: 7px;
    border: 0px none;
    z-index: 9999;
    font-size: 16px;
    background-color: transparent;
    color: #1198D6;
    left: 1px;
}

#symbols-menu {
   position: absolute;
   display: inline-block;
   bottom: 51px;
   right: 15px;
   padding: 5px 8px;
   background-color: #CCC;
   color: #333;
   border: 0px none;
   z-index: 9999;
   min-width: 108px;
   max-height: 50%;
   overflow-y: auto;
   border: 1px solid #AAA;
   display: none;
}

#symbols-menu-title{
   text-align:right;
}

.symbols-menu-item{
   margin: 0px;
   text-align: right;
}

#symbols-menu-title a {
    text-decoration: none;
    color: #1198D6;
    outline: 0px none;
}
/*====================================================================*/

#inout {
   overflow:auto;
   float:left;
   display:block;
   margin: 10px;
   width: calc(60% - 22px);
   height: calc(36% - 20px);
   position: absolute;
   top: 64%;
}

.source {
   height: calc(100% - 20px);
   padding-top: 1px;
   border-left: 1px solid #AAA;
   border-bottom: 1px solid #AAA;
   border-right: 1px solid #AAA;
   background-color: #FFF;
   position: relative;
}

.output {
  background: #111;
  color: #fff;
  height: 100%;
  padding: 5px;
  overflow: auto;
}

.output:after {
  content: url(/src/images/cursor.gif);
}

.output-container {
  background: #FFF;
  color: #fff;
  padding: 5px;
  height: calc(100% - 22px);
  border-left: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  border-right: 1px solid #AAA;
}

#source-send {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  padding: 5px 8px;
  background-color: #1198D6;
  color: #FFF;
  border: 0;
  z-index: 9999;
}

#source-out-clean {
  position: absolute;
  display: inline-block;
  bottom: 17px;
  right: 15px;
  padding: 5px 8px;
  background-color: #FFF;
  color: #E40546;
  border: 0;
  z-index: 9999;
}



.CodeMirror {
   height: calc(100% - 1px);
}

#inout-title {
   width:70%;
   height: 20px;
}
/*====================================================================*/

#console_omi {
   overflow:scroll-auto;
   float:left;
   display:block;
   border: 1px solid #AAA; 
   margin: 10px;
   width: calc(40% - 22px);
   height: calc(36% - 20px);
   position: absolute;
   top: 64%;
   left: 60%;
}

#console_omi-info {
   overflow:scroll-auto;
   float:left;
   display: block;
   height: 100%;
   width: calc(100% - 196px);
   background-color: #FFF;
}

#console_omi-graph {
   overflow:scroll-auto;
   position:relative;
   float:left;
   display: block;
   width: 100%;
   height: calc(100% - 40px);
   overflow: auto;
}

#console_omi-txt {
   overflow:auto;
   float:left;
   display: block;
   border-top: 1px solid #AAA;
   width: 85%;
   height: 40px;
   padding:12px;
}

#console_omi-line {
    overflow: auto;
    float: left;
    display: block;
    border-top: 1px solid #AAA;
    border-left: 1px solid #AAA;
    width: 15%;
    height: 40px;
    padding: 12px;
}

#console_omi-data {
   float:left;
   display:block;
   border-left: 1px solid #AAA;
   width: 196px;
   height: 100%;
   background-color: #CCC;
   
}
#console_omi-list-value{
   margin-left: -10%;
   list-style: none;
   height: calc(100% - 72px);
   overflow: auto;
}

#controls {
   width:100%;
   height: 39px;
   
   border-top: 1px solid #AAA;
   background-color: red;
   text-align:center;
   text-decoration: none;
   background-color:#CCC;
   color: #1198D6;
}

#footer{
   border-top: 1px solid #AAA;
   width:calc(100%-10px);
   background-color:#EEE;
   height: 26px;
   text-align: right;
   padding-right: 1%;
   padding-top: 3px;
}

.button.disable {
   background-color: #AAA;
   cursor:  default; 
}

.button.disable :hover {
   cursor: help; 
}
